body{
    margin: 0px;
    background-color: rgb(244, 230, 213);
    background-image: url("Image/background.jpeg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
} 

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

}

.task-area{
    border: 1px solid lightgray;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}